# Continuous Integration (CI) is the practice, in software
# engineering, of merging all developer working copies with a shared mainline
# several times a day < http://docs.platformio.org/page/ci/index.html >
#
# Documentation:
#
# * Travis CI Embedded Builds with PlatformIO
#   < https://docs.travis-ci.com/user/integration/platformio/ >
#
# * PlatformIO integration with Travis CI
#   < http://docs.platformio.org/page/ci/travis.html >
#
# * User Guide for `platformio ci` command
#   < http://docs.platformio.org/page/userguide/cmd_ci.html >
#

language: python
python:
  - "2.7"

sudo: false
cache:
  directories:
    - "~/.platformio"

env:
  - PLATFORMIO_CI_SRC=src/

install:
  - pip install -U platformio
  - platformio update
  - platformio lib install 13 135 901 415 5169 714 1092 798 64

before_script:
  - cp $PLATFORMIO_CI_SRC/secrets_template.h $PLATFORMIO_CI_SRC/secrets.h

script:
  - platformio run

after_script:
  - rm -f $PLATFORMIO_CI_SRC/secrets_template.h

